---
interface Props {
  href: string;
  currentPath: string;
}

const { href, currentPath } = Astro.props;
const isActive = currentPath === href;
---

<a
  href={href}
  class={`hover:text-neutral-300 text-sm lg:text-base ${
    isActive ? "text-accent" : ""
  }`}
>
  <slot />
</a>
