---
import { CookieBanner as Banner } from "./dynamic/common/CookieBanner";
---

<div
  transition:persist="cc-container"
  id="cc-container"
  class="pointer-events-none"
>
  <Banner client:load />
</div>
