@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans:
    "Montserrat", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Inter", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

  --animate-move-noise: move-noise 4s linear infinite;

  --color-primary: #ffffff;
  --color-secondary: #d8d8d8;
  --color-accent: #ffec99;

  @keyframes move-noise {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100px 100px;
    }
  }
}

@media (min-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  a,
  p,
  pre,
  code,
  nav,
  li,
  button,
  video,
  iframe,
  span,
  figure,
  progress,
  input,
  textarea,
  time {
    pointer-events: auto;
  }
}

@media (max-width: 767px) {
  a,
  button,
  input,
  textarea,
  video {
    pointer-events: auto;
  }
}
