---
import { ClientRouter } from "astro:transitions";

import "../globals.css";

import { Background } from "../components/dynamic/background";
import { Navigation } from "../components/dynamic/navigation";
import { Breadcrumbs } from "../components/dynamic/breadcrumbs";

const pageTitle =
  Astro.url.pathname === "/" ? "index" : Astro.url.pathname.split("/")[1];
const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} • Ilya Dyomin</title>
    <ClientRouter />
  </head>

  <body
    class="flex flex-col lg:flex-row bg-neutral-800 text-white py-6 px-4 lg:py-14 lg:px-10 h-screen lg:space-x-16 selection:bg-accent selection:text-neutral-800"
  >
    <Background client:load transition:persist="background" />

    <div
      class="flex-none lg:sticky lg:top-0 flex flex-col justify-between mb-8 lg:mb-0 pointer-events-none"
      transition:persist="header"
    >
      <img
        src="etozhealkipce.svg"
        alt="senior script kiddie logo"
        width={253}
        height={178}
        class="z-1"
      />

      <div class="flex flex-col space-y-4 max-w-[129px] mt-4 lg:mt-0">
        <p class="text-sm lg:text-base">Dyomin Ilya</p>

        <div class="flex flex-col space-y-2 text-sm font-extralight">
          <p>Software Developer from Kazakhstan</p>
          <a href="mailto:alkhipce@mail.ru">alkhipce@mail.ru</a>
        </div>
      </div>
    </div>

    <main
      class="flex-auto mb-8 lg:mb-0 pointer-events-none"
      transition:animate="none"
    >
      <div class="mb-6">
        <Breadcrumbs currentPath={currentPath} client:load />
      </div>
      <slot />
    </main>

    <div
      class="sticky lg:bottom-0 flex justify-center lg:justify-end lg:items-end mr-0 pointer-events-none"
    >
      <Navigation currentPath={currentPath} client:load />
    </div>
  </body>
</html>
